* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

html, body {
	height: 100%;
	background-image: linear-gradient(to right, #BABDC5, #FFFFFF, #BABDC5);
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-image: url('../../img/bg/backgroundGrayBlured.png');
	padding: 0.5% 2% 0.5% 6%;
}

div.leftButtons {
	width: 18%;
}

ul.info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	list-style-type: none;
	width: 100%;
}

ul.info > li > a.telNumber {
	transition: all .3s;
	font-weight: bold;
	font-size: 20px;
	display: block;
	text-align: center;
}

ul.info > li > a.telNumber:hover {
	text-shadow: 0px 0px 2px white;
	transition: all .3s;
}

/*ul.info > li > a.callback {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 2px solid pink;
	color: #FF573D;
	font-size: 19px;
	padding: 5px 30px;
	transition: all 0.5s;
	background-color: white;
}

ul.info > li > a.callback:hover {
	transition: all 0.5s;
	color: white;
	background-color: #FF573D;
	cursor: pointer;
}*/

.li1 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

div.navButtons {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

a.borderedA {
	font-size: 25px;
	display: block;
	transition: all .3s;
}

a.borderedA:hover {
	text-shadow: #B389D8 0 0 4px;
	transition: all .3s;
}

.top {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	background-color: #ff823a;
	opacity: 0.75;
	text-decoration: none;
	padding: 10px 25px;
	color: white;
	border-radius: 0px 10px 10px 0px;
	transition: all 0.2s;
	font-size: 15px;
}

.top:hover {
	padding: 10px 30px;
	background-color: #ff5d00;
	transition: all 0.2s;
	opacity: 1;
}


div.login {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

p.name {
	font-size: 18px;
}

p.name > a {
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #2F6987;
	transition: all .1s;
}

p.name > a:hover {
	text-shadow: #B389D8 0 0 4px;
	transition: all .1s;
}

div.wrapper {
	
}

div.wrapper > form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1% 2%;
}

input.articleName {
	width: 20%;
	padding: 0.5% 1%;
	font-size: 18px;
}

input.articleName:focus {
	outline: 0;
}

select {
	font-size: 20px;
	width: 200px;
}

div.wrapper > form > textarea {
	width: 800px;
	height: 300px;
	margin-top: 1.5%;
	padding: 0.5% 1%;
	text-indent: 20px;
	font-size: 24px;
}

div.wrapper > form > textarea:focus {
	outline: 0;
}

input.articleSendSubmit {
	margin-top: 1%;
	font-size: 24px;
}

input.articleSendSubmit:focus {
	outline: 0;
}